Options -Indexes
DirectoryIndex index.php index.html

RewriteEngine On

# Add trailing slash to directories that have an index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/index.php -f
RewriteRule ^(.+[^/])$ /$1/ [R=301,L]
